 <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <div class="row">
            {{!-- left side --}}
             <div class="col-md-6 col-12 about-text order-md-1 order-0">
              <figure>
                <img src="images/individual.jpg" alt="aboutsection_image" height="600rem" width="600rem">
              </figure>
            </div>
            {{!-- right side --}}
    
             <div class="col-md-6 col-12 about-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
         
              <p>Welcome to, <span class="bold-style">Your Number One Source For All Things.</span>We're Dedicated To Giving You The Best Of Work, With A Focus On [Three Characteristics , Ie : Dependability , Customer Service And Uniqueness.</p>
              <button class="btn-style btn-primary">Read More</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>