<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>My Website </title>

</head>
<body>
    {{>navbar}}
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            {{!-- left side --}}
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
              <h1>WE WILL HELP YOU TO</h1>
              <h2>GROW YOUR BUSINESS</h2>
              <p>We Are The Team of <span class="bold-style"> Professional Developer </span></p>
              <button class="btn-style btn-primary">Read More</button>
            </div>
            {{!-- right side --}}
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
              <figure>
                <img src="images/team.jpg" alt="herosection_image" height="500rem" width="600rem" >
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
{{!-- about us part --}}
   {{>about}}
   {{>service}}
   {{>maps}}

    <script src="..jq/jquery.js" type="text/javascript"></script>
    <script src="..js/bootstrap.js" type="text/javascript"></script>
</body>
</html>